<div class="dashboard container same">
  <div class="first">
    <form class="d-flex pt-5 four" role="search">
      <input
        class="form-control me-2 row col-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
  <div class="mid row col-12 container-fluid second">
    <div class="card shadow" style="width: 24rem; height: 10rem">
      <div class="card-body">
        <h5 class="card-title">Survey (In Draft)</h5>
        <div class="vikrant">
          <h6 class="card-subtitle mb-2 text-danger fs-1">2</h6>
        </div>
      </div>
    </div>
    <div class="card shadow" style="width: 24rem; height: 10rem">
      <div class="card-body">
        <h5 class="card-title">Survey Live</h5>
        <div class="vikrant">
          <h6 class="card-subtitle mb-2 fs-1">2</h6>
        </div>
      </div>
    </div>
    <div class="card shadow" style="width: 24rem; height: 10rem">
      <div class="card-body">
        <h5 class="card-title">Survey completed</h5>
        <div class="vikrant">
          <h6 class="card-subtitle mb-2 fs-1">2</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="last">
    <div class="btn-group lastone">
      <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">BETTER MAN - Round 2 - YouTube - US</option>
        <option value="2">
          Sonic 3 - Parent of Kids (7-12) - Instagram - DE - 2nd Round
        </option>
        <option value="3">
          Sonic 3 - General (13-24) - TikTok - DE - 2nd Round
        </option>
      </select>
    </div>
  </div>

  <!-- <router-outlet></router-outlet> -->
  <app-betterman></app-betterman>
</div>
